* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/*CABECERA*/

header{
  width: 100%;
  height: 200px;
  background-color: #D5DCF9;
}

.logo{
  padding: 25px 0;
}

.logo img{
  width: 100px;
  display: block;
  margin: auto;
}

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  max-width: 320px;
  margin: auto;
}

.menu a{
  text-decoration: none;
  color: #443627;
  font-size: 16px;
  text-transform: uppercase;
}
/* Fin cabecera */

/* Sección objetivo */
.detallado{
  padding-bottom: 80px;
}

.detallado > .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.foto-programando{
  width: 100%;
  max-width: 520px;
}

.foto-programando img{
  width: 100%;
}

.objetivo{
  text-align: center;
  padding: 16px 0px;
  width: 520px;
}

.objetivo p:nth-child(1) {
  font-size: 14px;
  color: #725E54;
  padding-bottom: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #A7B0CA
  ;
}

.objetivo h3{
  padding-top: 24px;
  padding-bottom: 32px;
  color: #725E54;
  font-size: 18px;
}

.objetivo p:nth-child(3){
  font-size: 14px;
  color: #725E54;
  padding-bottom: 24px;
}

.objetivo p:nth-child(4){
  font-size: 14px;
  color: #725E54;
  padding-bottom: 16px;
}

@media all and (min-width:769px){
  .detallado{
    padding-top: 80px;
  }

  .foto-programando{
    margin-right: 30px;
  }

  .objetivo{
    padding-left: 30px;
    text-align: left;
  }
}

@media all and (max-width:768px){
  .detallado{
    padding-bottom: 8px;
  }
  
  .objetivo{
    padding: 16px;
  }
}
/* Fin sección objetivo */

/* Sección banner HTML */
.banner-html{
  width: 100%;
  height: 311px;
  background-image: url(../img/foto-html.jpg);
  background-size: cover;
  background-color: cover;
}

.banner-html > div{
  width: 100%;
  height: 100%;
  background-color: rgba(209, 219, 189, 0.5);
}

.accion-html{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.accion-html h2{
  font-size: 40px;
  color: white;
  width: 100%;
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 480px;
}

.accion-html a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 48px;
  background-color: #443627;
  border-radius: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: 24px;
  
  transition: all 0.3s ease-in-out;
}

.accion-html a:hover{
  background-color: #987A5B;
}

@media all and (min-width:1000px){
  .banner-html{
    height: 476px;
  }
}

/* Sección Banner CSS */
.banner-css{
  
}