* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/*CABECERA*/

header{
  width: 100%;
  height: 200px;
  background-color: #D5DCF9;
}

.logo{
  padding: 25px 0;
}

.logo img{
  width: 100px;
  display: block;
  margin: auto;
}

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  max-width: 320px;
  margin: auto;
}

.menu a{
  text-decoration: none;
  color: #443627;
  font-size: 16px;
  text-transform: uppercase;
}
/* Fin cabecera */

/* Sección objetivo */
.detailed{
  padding-bottom: 80px;
}

.detailed > .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.programing{
  width: 100%;
  max-width: 520px;
}

.programing img{
  width: 100%;
}

.goal{
  text-align: center;
  padding: 16px 0px;
  width: 520px;
}

.goal p:nth-child(1) {
  font-size: 14px;
  color: #725E54;
  padding-bottom: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #A7B0CA
  ;
}

.goal h3{
  padding-top: 24px;
  padding-bottom: 32px;
  color: #725E54;
  font-size: 18px;
}

.goal p:nth-child(3){
  font-size: 14px;
  color: #725E54;
  padding-bottom: 24px;
}

.goal p:nth-child(4){
  font-size: 14px;
  color: #725E54;
  padding-bottom: 16px;
}

@media all and (min-width:769px){
  .detailed{
    padding-top: 80px;
  }

  .programins{
    margin-right: 30px;
  }

  .goal{
    padding-left: 30px;
    text-align: left;
  }
}

@media all and (max-width:768px){
  .detailed{
    padding-bottom: 8px;
  }
  
  .goal{
    padding: 16px;
  }
}
/* Fin sección objetivo */

/* Sección banners */
.banner__primary{
  width: 100%;
  height: 311px;
  background-image: url(../img/foto-html.jpg);
  background-size: cover;
  background-position: center;
}

.banner__primary > div{
  width: 100%;
  height: 100%;
  background-color: rgba(209, 219, 189, 0.5);
}

.banner__secundary{
  width: 100%;
  height: 311px;
  background-image: url(../img/foto-css.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 4px;
}

.banner__secundary > div{
  width: 100%;
  height: 100%;
  background-color: rgba(209, 219, 189, 0.5);
}

.action{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.action h2{
  font-size: 40px;
  color: white;
  width: 100%;
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.action a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 48px;
  background-color: #443627;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: 24px;
  
  transition: all 0.3s ease-in-out;
}

.action a:hover{
  background-color: #987A5B;
}

@media all and (min-width:1000px){
  .banner__primary{
    height: 476px;
  }
  .banner__secundary{
    height: 476px;
  }
}

/* Pie de página */
.top__footer{
  background-color: #4b4f63;
  height: 24px;
}

.center__footer{
  background-color: #343744;
}

.bottom__footer{
  background-color: #4b4f63;
  height: 24px;
}

